<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
	 
	<add name="CompanyDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\DataBase\Company.mdf;Integrated Security=True"/>
    <add name="LedgerDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\DataBase\LedgerDB.mdf;Integrated Security=True"/>
    <add name="StockDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\DataBase\StockDB.mdf;Integrated Security=True"/>
    <add name="TransDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\DataBase\TransDB.mdf;Integrated Security=True"/>
    <add name="TranxDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\DataBase\TransDB.mdf;Integrated Security=True"/>
	  



  </connectionStrings>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
